<link href="/assets/equipe.css" rel="stylesheet" type="text/css">

<div class="container my-team team-style-9">
	<div class="row">
	    <div class="section-title-wrapper">
            <h4 class="section-title">Equipe - Ajáiu Fôrci Contínuos Imprúvimenti</h4>
        </div>
		<div class="col-md-3 my-team-member">
			<div class="my-team-member-bg">
				<div class="my-member-img">
					<p><img src="/assets/team-style-04-01.jpg" class="img-responsive" alt="team01"></p>
					<div class="overlay"></div>
				</div>
				<div class="my-team-detail">
					<h6 class="my-member-name">Mateus Cardoso</h6>
					<p class="my-member-post">Developer</p>	
					<hr>	
					<p class="my-member-details">Humilde!</p>
				</div>
				<div class="my-member-social">
					<ul>
						<li><a href="https://www.cin.ufpe.br/~mcgs" target="_blank"><i class="fa fa-envelope"></i></a></li>
						<li><a href="https://www.facebook.com/mateusc42" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/mateuscxd" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.instagram.com/mateusc42/" target="_blank"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-3 my-team-member">
			<div class="my-team-member-bg">
				<div class="my-member-img">
					<p><img src="/assets/team-style-04-02.jpg" class="img-responsive" alt="team02"></p>
					<div class="overlay"></div>
				</div>
				<div class="my-team-detail">
					<h6 class="my-member-name">Paulo Cipoada</h6>
					<p class="my-member-post">Developer</p>	
					<hr>	
					<p class="my-member-details">"Vai trabalhar Caio."</p>
				</div>
				<div class="my-member-social">
					<ul>
						<li><a href="http://cin.ufpe.br/~pssr/" target="_blank"><i class="fa fa-envelope"></i></a></li>
						<li><a href="https://www.facebook.com/profile.php?id=1526391281" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.instagram.com/_paulo_s/" target="_blank"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-3 my-team-member">
			<div class="my-team-member-bg">
				<div class="my-member-img">
					<p><img src="/assets/team-style-04-03.jpg" class="img-responsive" alt="team03"></p>
					<div class="overlay"></div>
				</div>
				<div class="my-team-detail">
					<h6 class="my-member-name">Marcilio Freitas</h6>
					<p class="my-member-post">Developer</p>	
					<hr>	
					<p class="my-member-details">"Meu nome é trabalho."</p>
				</div>
				<div class="my-member-social">
					<ul>
						<li><a href="http://cin.ufpe.br/~mhaf/" target="_blank"><i class="fa fa-envelope"></i></a></li>
						<li><a href="https://www.facebook.com/marcilio.freitas.13" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.instagram.com/marciliohaf/" target="_blank"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-3 my-team-member">
			<div class="my-team-member-bg">
				<div class="my-member-img">
					<p><img src="/assets/team-style-04-04.jpg" class="img-responsive" alt="team04"></p>
					<div class="overlay"></div>
				</div>
				<div class="my-team-detail">
					<h6 class="my-member-name">Caio Guedes</h6>
					<p class="my-member-post">Developer</p>	
					<hr>	
					<p class="my-member-details">"O que deseja?"</p>
				</div>
				<div class="my-member-social">
					<ul>
						<li><a href="http://cin.ufpe.br/~ccsg/" target="_blank"><i class="fa fa-envelope"></i></a></li>
						<li><a href="https://www.facebook.com/caio.guedes.10" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.instagram.com/caiocguedes/" target="_blank"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container inner text-center">
      <div id="testimonials" class="tab-container">
        <div class="panel-container">
          <div id="tst1">iFarra é uma aplicação Web que surge da premissa de mostrar e/ou criar eventos em estabelecimentos comerciais (tais como bares, lanchonetes, restaurantes e clubes) e encontrar pessoas com gostos semelhantes e interesse nos locais supracitados. O usuário, através de uma interface intuitiva, informará um local de destino que esteja na lista de roteiros culturais de turismo e lazer da Prefeitura do Recife. Cada evento terá uma lista de confirmação mostrando os perfis de usuários que estarão presentes no evento, assim um usuário pode abrir uma janela de conversa com qualquer pessoa confirmada. Os usuários também podem usar o aplicativo para criar eventos com data/hora e convidar amigos que também o utilizam.<span class="author">MCPM Group</span> </div>
        </div>
      </div>
    </div>
    <!-- /.container --> 
		<div class="section text-center">
			<img src="/assets/team.jpg" class="img-responsive" alt="team02">
		</div>
</div>