<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="style/images/favicon.png">
<title>iFarra</title>
<!-- Bootstrap core CSS -->
<link href="/assets/picons.css" rel="stylesheet">
</head>
<body>
</div>
    
		<div class="parallax testimonials">
			<div style='clear: both; width: 10%; height: 150px;'></div>
			<div class='container inner'>
				<div class='row'>
					<div class='col-sm-21'>
						<div class='text-center'>
							<h1> Organize ou encontre seu próximo evento agora! </h1>
							<h1><font color="1abb9c"><h2> Antes de sair de casa, passe primeiro aqui</font></h2>
							<p></p>
							<a href="/users/sign_up" class="btn  btn-green">COMECE AGORA</a>
							<div style='clear: both; width: 10%; height: 130px;'></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!---/.Banner -->

		<div class="container inner">
      <div class="divide10"></div>
      <div class="row text-center services-1">
        <div class="col-md-3 col-sm-6">
          <div class="col-wrapper">
            <div class="icon-border bm15"> <i class="icon-picons-move"></i> </div>
            <h5 class="upper">Encontre</h5>
            <p>Cadastre-se e encontre todos os eventos que estão acontecendo a sua volta.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="col-wrapper">
            <div class="icon-border bm15"> <i class="icon-picons-bulb"></i> </div>
            <h5 class="upper">Crie</h5>
            <p>Preencha os detalhes do seu evento, e compartilhe para todos usuários do iFarra.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="col-wrapper">
            <div class="icon-border bm15"> <i class="icon-picons-window-layout-3"></i> </div>
            <h5 class="upper">Promova</h5>
            <p>Convide pessoas para seu evento e atinja um novo público com nossas ferramentas.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="col-wrapper">
            <div class="icon-border bm15"> <i class="icon-picons-award"></i> </div>
            <h5 class="upper">Conheça</h5>
            <p>Consulte a listas de convidados e conheça novas pessoas que tem o mesmo interesse.</p>
          </div>
        </div>
      </div>
      
      
    </div>
  <div class="parallax testimonials">
    <div class="container inner text-center">
      <div class="section-title-wrapper">
        <h3 class="section-title">Pare e Pense</h3>
      </div>
      <div id="testimonials" class="tab-container">
        <div class="panel-container">
          <div id="tst1"> A proposta do iFarra é interessante para usuários que costumam curtir os eventos da sua cidade. <br/> Seu propósito maior é facilitar a inserção das pessoas ao que está acontecendo a sua volta.<span class="author">MCPM Group</span> </div>
        </div>
      </div>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.testimonials -->
  
  <div class="dark-wrapper">
    <div class="container inner">
      <div class="section-title-wrapper">
        <h3 class="section-title bm20">Tudo que você precisa em um só lugar</h3>
      </div>
      <div class="thin">
        <p class="text-center">Saiba tudo sobre os eventos que estão rolando! Descrição, fotos, telefone, dias de abertura, horário, entre outros.</p>
      </div>
      <div class="divide40"></div>
      <div class="row">
        <div class="col-md-3">
          <div class="services-2">
            <div class="icon"> <i class="icon-picons-desktop-preferences icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Fácil Acesso</h5>
              <p>Configuração rápida e fácil em questão de minutos.</p>
            </div>
            <!-- /.text -->
            <div class="divide20"></div>
            <div class="icon"> <i class="icon-picons-plane icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Divulge</h5>
              <p>ivulge seu evento com ferramentas incorporadas na página usando as redes sociais.</p>
            </div>
            <!-- /.text -->
            <div class="divide20"></div>
            <div class="icon"> <i class="icon-picons-bulb icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Conheça</h5>
              <p>Veja todas as pessoas que estão na lista para ir ao evento.</p>
            </div>
            <!-- /.text --> 
            
          </div>
          <!-- /.services-2 --> 
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <figure><img src="/assets/loom-browser.png" alt="" /></figure>
        </div>
        <!-- /.col -->
        <div class="col-md-3">
          <div class="services-2">
            <div class="icon"> <i class="icon-picons-window-layout-3 icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Eventos Atualizados</h5>
              <p>Seu feed personalizado com todos os eventos no momento.</p>
            </div>
            <!-- /.text -->
            <div class="divide20"></div>
            <div class="icon"> <i class="icon-picons-earth icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Qualquer Plataforma</h5>
              <p>Acesso direto a todo o conteúdo do site de qualquer plataforma.</p>
            </div>
            <!-- /.text -->
            <div class="divide20"></div>
            <div class="icon"> <i class="icon-picons-brush icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Design Simplista</h5>
              <p>Tudo o que você procura a sua vista, de modo direto e ainda chamativo.</p>
            </div>
            <!-- /.text --> 
            
          </div>
          <!-- /.services-3 --> 
        </div>
        <!-- /.col --> 
      </div>
      <!-- /.row --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.dark-wrapper -->
  

  <div class="parallax process">
    <div class="container inner text-center">
      <div class="section-title-wrapper">
        <h3 class="section-title bm20">Como funciona?</h3>
      </div>
      <div class="thin">
        <p class="text-center">Quer ficar por dentro de tudo que está rolando na sua cidade? A proposta do iFarra é exatamente essa, facilitar a sua vida, disponibilizando os principais eventos em um único local.</p>
      </div>
      <div class="divide30"></div>
      <div class="row services-3 text-center">
        <div class="col-sm-3 col">
          <div class="icon"><i class="icon-picons-bulb icn"></i></div>
          <h4 class="upper">1. Procure</h4>
        </div>
        <div class="col-sm-3 col">
          <div class="icon"><i class="icon-picons-rocket icn"></i></div>
          <h4 class="upper">2. Encontre</h4>
        </div>
        <div class="col-sm-3 col">
          <div class="icon"><i class="icon-picons-lab icn"></i></div>
          <h4 class="upper">3. Participe</h4>
        </div>
        <div class="col-sm-3 col">
          <div class="icon"><i class="icon-picons-award icn"></i></div>
          <h4 class="upper">4. Dirvita-se</h4>
        </div>
      </div>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.process -->
  
  
  <div class="dark-wrapper">
    <div class="container inner">
      <div class='row'>
				<div class='col-sm-12'>
					<div class='text-center'>
						<p class='lead lite'><a href="/users/sign_in">Organize ou encontre seu próximo evento agora!</a></p>
						<p></p>
						<a href="/users/sign_up" class="btn  btn-green">EXPERIMENTE AGORA</a>
					</div>
				</div>
			</div>
    </div>
  </div>
  
  
  <footer class="footer">
    <div class="sub-footer">
      <div class="container">
        <p class="pull-left">© 2017 iFarra. All rights reserved. Theme by <a href="https://www.facebook.com/mateusc42">Mateus Cardoso</a>.</p>
        <ul class="footer-menu pull-right">
          <li><a href="/">Início</a></li>
          <li><a href="/equipe">Equipe</a></li>
          <li><a href="/users/sign_up">Cadastre-se</a></li>
          <li><a href="/users/sign_in">Login</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- /footer --> 
	
	
</div>
<!-- /.body-wrapper --> 

<!-- /.scroll-to-top --> 


<!-- /canvas -->

</body>
</html>